h1 {
  font-family: "JetBrains Mono",monospace;
  font-size: 150%;
  text-align: center;
  background: -webkit-linear-gradient( #5adaff, #5468ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main{
  background-color: #93d5b9;
  min-width: 1000px;
  min-height: auto;
}
body{
margin:0;
padding:0;
}
#quiz-box{
min-height: 400px;
position: relative;
width:500px;
border: #5adaff;
}
.question{
margin-top:40px;
}
p{
font-weight: bold; 
font-family: "JetBrains Mono",monospace;

}
#img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  float: right;
}


#img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* CSS */
.button-3 {
align-items: center;
appearance: none;
background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
border: 0;
border-radius: 6px;
box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-flex;
font-family: "JetBrains Mono",monospace;
height: 48px;
justify-content: center;
line-height: 1;
list-style: none;
overflow: hidden;
padding-left: 16px;
padding-right: 16px;
position: relative;
text-align: left;
text-decoration: none;
transition: box-shadow .15s,transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow,transform;
font-size: 18px;
}

.button-3:focus {
box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-3:hover {
box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
transform: translateY(-2px);
}

.button-3:active {
box-shadow: #3c4fe0 0 3px 7px inset;
transform: translateY(2px);
text-align: center;
}
